{% load staticfiles %}
.forms{
    background-color: rgb(220, 220, 220);
    margin: 20px;
    padding: 40px;  
}
.sideforms{
    margin: 10px;
    padding: 10px;  
}
smart-list-box {
	width: 300px;
	height: 500px;
}
@media only screen and (max-width: 700px) {
  body, html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin:0px;
	overflow: hidden;
  }
  
  smart-list-box {
	width: 100%;
	height: 100%;	
  }
}