{% extends "fashions/base_menu.html" %}

{% load app_tags %} <!-- see home/templatetags/app_tags.py -->
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block navbar %}
<!-- https://www.w3schools.com/booTsTrap/bootstrap_navbar.asp -->

<nav class="navbar navbar-default"></nav>
<header class="header_area">

    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="#"><img src="{% static 'KJlogo.png' %}" alt="" width="100" height="100"></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'fashions:brand' %}"><font size="+2"> 𝒮𝒽ℴ𝓅 </font></a>

                        </li>
                        <li><a href="#"><font size="+2"> 𝒞ℴ𝓃𝓉𝒶𝒸𝓉 </font></a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <!-- <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div> -->
            <!--  -->
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'fashions:brand_create' %}"><font size="-1"> 𝒩ℯ𝓌 ℬ𝓇𝒶𝓃𝒹 </font></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}?next={% url 'fashions:brand' %}"><font size="-1"> ℒℴℊℴ𝓊𝓉 </font></a>
                {% else %}
                <a href="{% url 'login' %}?next={% url 'fashions:brand' %}"><font size="-1"> ℒℴℊ𝒾𝓃 </font></a>                   
                {% endif %}
            </div>



        </div>

    </div>
</header>

    <!-- ##### Header Area End ##### -->
            <!-- ##### Breadcumb Area Start ##### -->
            <div class="breadcumb_area bg-img" style="background-image: url({% static 'img/title_br.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="page-title text-center">
                                <h2>Find your favorite!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30"> 𝔸𝕣𝕞 𝕦𝕡 𝕨𝕚𝕥𝕙 𝔽𝕒𝕤𝕙𝕚𝕠𝕟! </h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                            <a href="#">Genders</a>
                                            <ul class="sub-menu collapse" id="shoes">
                                                <li><a href="{% url 'fashions:brand' %}">All</a></li>
                                                <li><a href="{% url 'fashions:brand' %}">Male</a></li>
                                                <li><a href="{% url 'fashions:brand' %}">Female</a></li>
                                            </ul>
                                        </li>                                    
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a href="#">Countries</a>
                                        <ul class="sub-menu collapse" id="shoes">
                                                <li><a href="{% url 'fashions:brand' %}">All</a></li>
                                            </ul>

                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                            <a href="#">Categories</a>
                                            <div class = "sideforms">           
                                                    <p>
                                                    <form action="" method="post" id="upload_form" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{ form|crispy }}
                                                        <input type="submit" value="Submit">
                                                        <input type="submit" value="Cancel" onclick="window.location.href='{% url 'fashions:all' %}';return false;">
                                                    </form>
                                                    </p>
                                            </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>Brands listed</span></p>
                                    </div>
                                    <!-- Sorting -->
                                </div>
                            </div>
                        </div>
                        <div class="product-description"><h1>Brands</h1></div>
                        
                        <div style="float:right">
                            <a href="{% url 'fashions:all' %}"><i class="fa fa-undo"></i></a>
                            </form>
                            </div>
                            <p>
                            {% if brand_list %}
                            <ul>
                              {% for brand in brand_list %}
                                <li>
                                    <a href="{% url 'fashions:brand_detail'  brand.id %}">{{ brand.title }}</a>
                                    {% if brand.owner == user %}
                                    (<a href="{% url 'fashions:brand_update' brand.id %}">Edit</a> |
                                    <a href="{% url 'fashions:brand_delete' brand.id %}">Delete</a>)
                                    </p>
                                    {% endif %}
                                    <br/>
                                    <div style="left:10px">
                                        {% if brand.text|length < 100 %}
                                            {{ brand.text }}
                                        {% else %}
                                            {{ brand.text|slice:"0:99" }}
                                            <a href="{% url 'fashions:brand_detail'  brand.id %}">...</a>
                                        {% endif %}
                                    </div>
                                </li>
                              {% endfor %}
                            </ul>
                            {% else %}
                              <p>There are no brands in your store.</p>
                            {% endif %}
                            </p>
                            <p>
                            <a href="{% url 'fashions:brand_create' %}">Add a brand</a> |
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}?next={% url 'fashions:all' %}">Logout</a>
                            {% else %}
                            <a href="{% url 'login' %}?next={% url 'fashions:all' %}">Login</a>
                            {% endif %}
                            </p>
                            
                            <script>
                            function favPost(url, ad_id) {
                                console.log('Requesting JSON');
                                $.post(url, {},  function(rowz){
                                    console.log(url, 'finished');
                                    $("#unfavorite_star_"+ad_id).toggle();
                                    $("#favorite_star_"+ad_id).toggle();
                                }).fail(function(xhr) {
                                    alert('Url failed with '+xhr.status+' '+url);
                                });
                            }
                            </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

{% endblock %}