{% extends "fashions/base_menu.html" %}

{% load app_tags %} <!-- see home/templatetags/app_tags.py -->
{% load staticfiles %}

{% block navbar %}
<!-- https://www.w3schools.com/booTsTrap/bootstrap_navbar.asp -->

<nav class="navbar navbar-default"></nav>
<header class="header_area">

    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="#"><img src="{% static 'KJlogo.png' %}" alt="" width="100" height="100"></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'fashions:brand' %}"><font size="+2"> 𝒮𝒽ℴ𝓅 </font></a>

                        </li>
                        <li><a href="#"><font size="+2"> 𝒞ℴ𝓃𝓉𝒶𝒸𝓉 </font></a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="favourite-area">
                <a href="{% url 'fashions:brand_create' %}"><font size="-1"> + ℬ𝓇𝒶𝓃𝒹 </font></a>
            </div>
            <!--  -->
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'fashions:product_create' %}"><font size="-1"> + 𝒫𝓇ℴ𝒹𝓊𝒸𝓉 </font></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}?next={% url 'fashions:all' %}"><font size="-1"> ℒℴℊℴ𝓊𝓉 </font></a>
                {% else %}
                <a href="{% url 'login' %}?next={% url 'fashions:all' %}"><font size="-1"> ℒℴℊ𝒾𝓃 </font></a>                   
                {% endif %}
            </div>



        </div>

    </div>
</header>

    <!-- ##### Header Area End ##### -->
            <!-- ##### Breadcumb Area Start ##### -->
            <div class="breadcumb_area bg-img" style="background-image: url({% static 'img/title_br.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="page-title text-center">
                                <h2>Find your favorite!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30"> 𝔸𝕣𝕞 𝕦𝕡 𝕨𝕚𝕥𝕙 𝔽𝕒𝕤𝕙𝕚𝕠𝕟! </h6>
                            <h6 class="widget-title mb-30"> Filter up your products! </h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#gender">
                                            <a href="#">Genders</a>
                                            <ul class="sub-menu collapse" id="gender">
                                                    <p>
                                                        {% for gender in gender_list %}
                                                            <li>
                                                                <a href="{% url 'fashions:filteredproduct' 0 gender.id 0 %}">{{ gender.name }}</a>
                                                                <br/>
                                                            </li>
                                                        {% endfor %}
                                                    </p>
                                                </ul>   
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#season">
                                            <a href="#">Seasons</a>
                                            <ul class="sub-menu collapse" id="season">
                                                    <p>
                                                        {% for season in season_list %}
                                                            <li>
                                                                <a href="{% url 'fashions:filteredproduct' 0 season.id 0 %}">{{ season.name }}</a>
                                                                <br/>
                                                            </li>
                                                        {% endfor %}
                                                    </p>
                                                </ul>
                                    </li>                                                                                  
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#category">
                                            <a href="#">Categories</a>
                                        <ul class="sub-menu collapse" id="category">
                                            <li><a href="{% url 'fashions:category_create' %}"><font size="3" color="red">Add a new category</font></a></li>
                                            <p>
                                                    {% if category_list %}
                                                    <ul>
                                                      {% for category in category_list %}
                                                        <li>
                                                            <a href="{% url 'fashions:filteredproduct' category.id 0 0 %}">{{ category.name }}</a>
                                                            <br/>
                                                        </li>
                                                      {% endfor %}
                                                    </ul>
                                                    {% else %}
                                                      <p>There are no categories currently.</p>
                                                    {% endif %}
                                                    </p>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                            <p><a href="{% url 'fashions:all' %}">Switch to Brand List</a><p>
                                    </div>
                                    <!-- Sorting -->
                                </div>
                            </div>
                        </div>
                        <div class="product-description"><h1>Products</h1></div>
                        <br>
                        <div style="float:right">
                            </div>
                            <p>
                            {% if products %}
                            <ul>
                              {% for product in products %}
                                <li>
                                    <a href="{% url 'fashions:product_detail'  product.id %}">{{ product.name }}</a>
                                    {% if product.owner == user %}
                                    (<a href="{% url 'fashions:productupdate' product.id %}">Edit</a> |
                                    <a href="{% url 'fashions:product_delete' product.id %}">Delete</a>)
                                    </p>
                                    {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                            {% else %}
                              <p>There are no products in your store.</p>
                            {% endif %}
                            </p>
                            <p>
                            <a href="{% url 'fashions:product_create' %}">Add a product</a> |
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}?next={% url 'fashions:all' %}">Logout</a>
                            {% else %}
                            <a href="{% url 'login' %}?next={% url 'fashions:all' %}">Login</a>
                            {% endif %}
                            </p>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

{% endblock %}